.HPLabel {
    -fx-font-weight: bold;
    -fx-text-fill: #FFFF00;
    -fx-font-family: "cooper black";
    -fx-font-size: 12px;
    -fx-padding: 5 5;
}
.XPLabel {
    -fx-font-weight: bold;
    -fx-text-fill: #A020F0;
    -fx-font-family: "cooper black";
    -fx-font-size: 12px;
    -fx-padding: 5 5;
}